*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    height: 100vh;
    background-color: #0F62FE;
}

#head-text{
    margin-top: 50px;
    margin-left: 10px;
    font-family: sans-serif;
    color: #0F62FE;
}

.container{
    width: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
    background: white;
    border-radius: 1px;
    min-width: 450px;
    min-height: 100px;
    transform: translate(-50%, -50%);
    
    }

#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    border: 2px solid #3381FF;
     
}

#newtask input:focus{
    outline: none;
    border-color: #0F62FE;
}

#newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0F62FE;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: sans-serif;
    }

.tasks{
    position: absolute;
    border-radius: 0px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 30px 20px;
    margin-top: 0px;
    justify-content: space-between;

}

.tasks.overflow{
    overflow-y: auto;
    max-height: 300px;
    }

.tasks::-webkit-scrollbar{
    width: 10px;
      }

.tasks::-webkit-scrollbar-track{
    background: #BAE6FF;
    border-radius: 25px;
}

.tasks::-webkit-scrollbar-thumb{
    background: #0D75EC;
    border-radius: 25px;
}